body {
  margin: 0px;
  padding: 0px;
}

.dashboard-title {
  text-align: center;
}

.dashboard {
  width: 100%;
}
.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
